{% extends 'base.html' %}
{% block content %} 
<form method='post' class="screen-home">
    <div class="form">
        <h2>Uneixte al xat</h2>
        <div class="form-input">
            <label>Usuari</label>
            <input type="text" placeholder="Tria un nom!" name="username" value="{{username}}"/>
        </div>
        <div class="form-input">
            <button type="submit" name="join-user">Uneix-te</button>
        </div>
        {% if error %}
        <ul>
            <li>{{error}}</li>
        </ul>
        {% endif %}   
    </div>
</form>
{% endblock %}

